<h3>CRUD APPLICATION</h3>

<div class="container">
  <div class="user-form">
    <form [formGroup]="userDetailsForm">
     <label>Name</label>
     <input type="text" formControlName="name" />
      <div *ngIf="userDetailsForm.get('name').invalid && (userDetailsForm.get('name').dirty || userDetailsForm.get('name').touched)">
          <div *ngIf="userDetailsForm.get('name').errors.required"><span class="error-text">Name is required.</span></div>
        </div>

     <label>email</label>
     <input type="text" formControlName="email" />
     <div *ngIf="userDetailsForm.get('email').invalid && (userDetailsForm.get('email').dirty || userDetailsForm.get('email').touched)">
      <div *ngIf="userDetailsForm.get('email').errors.required"><span class="error-text">Email is required.</span></div>
      <div *ngIf="userDetailsForm.get('email').errors.email"><span class="error-text">Invalid email format.</span></div>
    </div>

     <label>phone</label>
     <input type="text" formControlName="phone" />
       <div *ngIf="userDetailsForm.get('phone').invalid && (userDetailsForm.get('phone').dirty || userDetailsForm.get('phone').touched)">
          <div *ngIf="userDetailsForm.get('phone').errors.required"><span class="error-text">Contact Number is required.</span></div>
          <div *ngIf="userDetailsForm.get('phone').hasError('customError')"><span class="error-text">Invalid contact number.</span></div>
        </div>

      <div class="buttons">
        <button type="reset" (click)="resetForm()">Cancel</button>
        <button *ngIf="!update" type="submit" (click)="addUser()" [disabled]="isFormValid">Save</button>
        <button *ngIf="update" type="submit" (click)="updateUser()" [disabled]="isFormValid">Update</button>
      </div>
    </form>
  </div>

  <div class="user-table">

    <table class="table table-hover">
      <thead>
        <tr>
          <td>Name<span class="material-icons" style="cursor: pointer;" (click)="sortColumn('name')">arrow_upward</span></td>
          <td>email<span class="material-icons" style="cursor: pointer;" (click)="sortColumn('email')">arrow_upward</span></td>
          <td>Phone</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userLists | slice: (pagination.currentPage - 1) * pagination.pageSize: pagination.currentPage * pagination.pageSize">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td><i title="Edit" style="cursor: pointer;" class="material-icons edit-botton" (click)="editUser(user)">edit</i><i title="delete" class="material-icons delete-button" style="color: red; cursor: pointer;" (click)="deleteUser(user)">delete</i></td>
        </tr>
      </tbody>
    </table>

    <app-pagination
    #pagination
    [collectionSize]="userLists.length"
    [pageSize]="10"
    [firstLastButtons]="true"
    [maxSize]="2"
  ></app-pagination>

  </div>
</div>